@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    outline: none;
}
body{
    background: #f49780c2;
    background-size: cover;
    width: 100%;
    height: 100%;
}

h1{
    text-align: center;
    font-weight: 400;
    font-size: 3.5rem;
    color: white;
    font-weight: 500;
    padding: 10px 0;
}
.app-container{
    background-color:#01bfbf ;
    max-width: 1300px;
    width: max-content;
    margin: 30px auto;
    padding: 0 30px  100px 30px;
}
.box{
    width: max-content;
    display: flex;
    margin: 0 auto;
}
input[type=text]{
    width: 400px;
    min-height: 40px;
    border: none;
    padding-left: 20px;
    background-color: rgb(66, 104, 104);
    color: rgb(255, 255, 255);
    font-size: 1.5rem;
    margin-bottom: 40px;
    
}
button{
    width: 40px;
    height: 40px;
    border: none;
    background-color: #fc766a;
    font-weight: 900;
    font-size: 1.5rem;
    transition: 0.2s;
    
}
button:hover{
    background-color: rgb(255, 218, 224);
}
.list-container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column-reverse;
}


.fa-trash-alt{
    position: absolute;
    cursor: pointer;
    right: 0px;
    width: 40px;
    height: 100%;
    font-size: 1.2rem;
    color: rgba(214, 32, 32, 0.795);
    text-align: center;
    padding: 10px 0;
    z-index: 1;
}
.list-box{
    max-width: 440px;
    width: 100%;
    margin: 10px 0;
    border-bottom: white 1.5px solid;
    display: flex;
    align-items: center;
    position: relative;
}
.list-box>input{
    list-style: none;
    font-size: 1rem;
    font-weight: 600;
    margin: 10px 0;
    width: max-content;
    color: rgb(255, 255, 255);
    background-color: transparent;
    border: none;
}
.fa-check-square{
    cursor: pointer;
    margin: 0 20px 0 10px;
    color: rgba(0, 0, 0, 0.068);
    border-radius: 4px;
    font-size: 1.2rem;
}
.fa-check-square:hover{
    color: rgba(0, 0, 0, 0.24);
}
.i-active{
    color: rgb(245, 245, 245);
}
.i-active:hover{
    color: rgb(255, 255, 255);
}
textarea{
    border: none;
    background-color: transparent;
    height: max-content;
    padding: 5px 0;
    font-size: 1.2rem;
    width: 150px;
    color: white;
    resize: none;
}
.line-through{
    text-decoration: 2px  line-through white;
}
@media screen and (max-width: 500px){
    h1{
        font-size: 2.5rem;
        
    }
    .app-container{
        width: 100%;
        padding: 20px 5px ;
        margin: 0 auto;
    }
    .list-container{
        width: 90%;
        margin: 0 auto;
    }
    input[type=text]{
        width: 80vw;
    }
    #todo{
        width: 80%;
    }
    button:hover{
        background-color: #fc766a;
    }
    textarea{
        width: 150px;
    }
}